<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Unacademy Test Automation Suite" verbose="1">
    <listeners>
        <listener class-name="listeners.ExtentTestNGListener" />
    </listeners>

    <test name="Module 2 - Payment and Subscription Tests">
        <parameter name="browser" value="chrome" />
        <classes>
            <class name="tests.SubscriptionAndPaymentTest">
                <methods>
                    <include name="TC057_VerifySubscriptionPlanList" />
                    <include name="TC058_VerifyMonthlySubscriptionPlan" />
                    <include name="TC059_VerifyAnnualSubscriptionPlan" />
                    <include name="TC060_VerifySelectSubscriptionPlan" />
                    <include name="TC061_VerifySubscriptionPricingDisplay" />
                    <include name="TC062_VerifySubscriptionComparison" />
                    <include name="TC063_VerifyUpgradeFromFreeToSubscription" />
                    <include name="TC064_VerifyDowngradeSubscription" />
                    <include name="TC065_VerifyRenewalOption" />
                    <include name="TC066_VerifySubscriptionExpiryMessage" />
                    <include name="TC067_VerifySubscriptionPause" />
                </methods>
            </class>
        </classes>
    </test>
</suite>
